<?xml version="1.0" encoding="UTF-8"?>
<?init class="org.zkoss.zkplus.databind.AnnotateDataBinderInit" ?>
<?page zscriptLanguage="GroovyGrails" title="MT-MO Login" ?>
<?variable-resolver class="org.zkoss.zkplus.spring.DelegatingVariableResolver"?>
<zk:bootstrap/>
<zk>

    <window apply="projectgrails.LoginComposer" contentStyle="background:#EEEEEE" height="700px">
	<div style="padding-left:300px;padding-top:144px">
        <panel width="350px" height="220px" title="Sign in MT-MO System" sclass="panel-info">
            <panelchildren>
                <div class="input-group">
					<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
					<textbox class="form-control" placeholder="Username"  id="user"/>
				</div>
				
				<div class="input-group" style="padding-top:10px">
					<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
					<textbox class="form-control" placeholder="Password"  id="pass" type="password" />
				</div>
				
				<div style="float:right;padding-top:10px">
					<a href="Register.zul" label="Register" style="padding-right:10px" /><button id="btn_submit" label="เข้าสู่ระบบ" />
				</div>
				<div class="alert alert-warning" id="alert1"><label>กรุณากรอกข้อมูลให้ครบทุกช่อง</label></div>
            </panelchildren>
        </panel>
		 
				<a href="#" label="ลืมรหัส?" style="padding-left:3px"/>
		 
		</div>
    </window>

</zk>