<?xml version="1.0" encoding="UTF-8"?>
<?init class="org.zkoss.zkplus.databind.AnnotateDataBinderInit" ?>
<?page zscriptLanguage="GroovyGrails" title="MT-MO" ?>
<?variable-resolver class="org.zkoss.zkplus.spring.DelegatingVariableResolver"?>

<zk xmlns:h="xhtml">

         <borderlayout width="900px" style="margin-left:55px" apply="projectgrails.MtaxiMeterComposer" id="bordermain">
				
			<north border="0px">
			<div>
				<div>
				<menubar id="menubar" width="100%">
				<menuitem label="MTAXI-METER" id="home">
				</menuitem>
				<menuitem label="รายการ taxi" id="listtaxi">
				</menuitem>
				<menuitem label="ลูกค้า"  id="members">
				</menuitem>
					<menuitem label="1" id="menualert">
					</menuitem>
					<menu image="images/settings.png" style="float:right">
					
						<menupopup>
							<menuitem label="Settings" id="setting"></menuitem><menuseparator></menuseparator>
							<menuitem label="LOGOUT" id="logout"></menuitem>
						</menupopup>
					</menu>
				</menubar></div>
						<div style="padding-left:10px;width:400px;padding-bottom:10px;">
							<div>
								<image src="images/user.png" width="50px" height="50px"/><label value=" Welcome " style="font-size:20px;color:#0066CC"></label>
								<label id="nameowner" style="font-size:20px;color:#0066CC">xxxxx</label>
							</div>
					</div>
			</div>
			</north>
			
			<center style="background:#FFFFFF;overflow: auto" border="0px">
			<div style="padding-top:0px;">
			
			 <div style="padding-left:3px;padding-right:0px;">
				<include id="chp" width="880px" src="listTaxi.zul"/>
			</div>
			</div>
			
			</center>
		</borderlayout>
		
   

</zk>