<?xml version="1.0" encoding="UTF-8"?>
<zk:bootstrap />
<zk>

    <!--<window apply="projectgrails.SettingComposer" contentStyle="background:#EEEEEE" height="900px">
	 
	</window>-->
	<div style="padding-top:0px;background-color:#B0C4DE;padding-left:0px" apply="projectgrails.SettingComposer" >
	 
			<grid mold="paging">
				<columns>
					<column>ข้อมูลส่วนตัว</column>
				</columns>
				<rows>
				<row style="background-color:#B0C4DE"><label>Username</label><textbox id="username"></textbox><label>Password</label><textbox id="password" type="password"></textbox></row>
				<row style="background-color:#B0C4DE"><label>E-mail</label><textbox id="email"></textbox><label>โทรศัพท์</label><textbox id="phone"></textbox></row>
				<row style="background-color:#B0C4DE"><label>ที่อยู่</label><textbox rows="8" id="address" width="182px"></textbox></row>
				</rows>
			</grid>
		<div style="padding-top:5px;padding-left:5px"><button label="Update" id="btnUpdate1" class="btn btn-info" width="100px"></button>
		
		</div>
		
		<div style="padding-top:10px">
			<grid mold="paging">
				<columns>
					<column>ข้อมูลอู่-ทั่วไป</column>
				</columns>
				<rows>
					<row style="background-color:#B0C4DE"><label>ชื่ออู่ Taxi-meter</label><textbox id="stockname"></textbox><label>อัตราค่าบริการ</label>
					<intbox id="rate" format="#,##0"></intbox>
					</row>
					<row style="background-color:#B0C4DE"><label>ค่าปรับต่อวัน</label><intbox id="panality" format="#,##0"></intbox><label>ค่ามัดจำล่วงหน้า/บาท</label><intbox id="deposit" format="#,##0"></intbox></row>
					<row style="background-color:#B0C4DE"><label>จำนวนรถในอู่/คัน</label><intbox id="amouttotal" format="#,##0"></intbox></row>
				</rows>
			</grid>
		</div>
		<div style="padding-top:5px;padding-bottom:10px;padding-left:5px"><button label="Update" id="btnUpdate2" class="btn btn-info" width="100px"></button></div>
	  </div>
     

</zk>